html, body {
	height: 100%;
}

.fullHeight {
	height: 100%;
}

.board {
	background-color: rgba(0,50,0,.5);
}

.town {
	height: 170px;
	width: 85px;
	border: 1px black solid;
	margin: 4px;
	background-color: white;
}


/*Temp*/
.fixWidth {
	width: 100%;
}

.row {
	margin: 0;
	height: 50px;
}

.space {
	height: 50px;
	width: 50px;
	border: 1px black solid;
	white-space: nowrap;
	display: inline-block;
}